@CHARSET "UTF-8";

fieldset {
	padding:1.0em;
	font:80.0% san-serif;
}

legend {
	fond-weight:bold;
	color:#336699;
}

label {
	display:inline-block;
	display:inline;
	zoom:1.0;
	float:left;
	padding-top:5.0px;
	text-align:right;
	width:140.0px;
	font-weight:bold;
}

input {
	margin-top:5.0px;
	margin-bottom:5.0px;
	display:inline-block;
	display:inline;
	zoom:1.0;
	vertical-align:middle;
	margin-left:20.0px;
}

h2 {
	color:#336699;
}

input[type='submit'] {
	float:left;
	margin-left:200.0px;
	margin-top:25.0px;
	padding-top:2.0em;
	text-align:right;
	font-weight:bold;
}

div#form {
	width:60.0%;
}

div.message {
	color:green;
	font-weight:bold;
	font-style:italic;
	font-size:10pt;
}

select {
	margin-top:5.0px;
	margin-bottom:5.0px;
	display:inline-block;
	display:inline;
	zoom:1.0;
	vertical-align:middle;
	margin-left:20.0px;
}

